html{
	background-color:#000;
	color:#FFF;
}

nav{
	position:fixed;
	top:0;
	height:3em;
	background-color:#222;
	width:80%;
	border-bottom:1px solid #555;
	vertical-align:center;
}

body{
	margin-left:10%;
	margin-right:10%;
	background-color:#111;
}

main{
	margin-top:3em;
}

main p{
	margin-top:0;
	margin-bottom:0;
	margin-left:10px;
	margin-right:10px;
}

main p:hover{
	background-color:#333;
}

main p::before{
	content:attr(lineNumber);
	display:inline;
	margin-right: 10px;
	text-align: right;
	color: #777;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

span.keyWord{
	color:#5F8;
}

span.coreAnchor{
	color:#FF5;
}